
*.suo
*.user

debug/
release/
x64/
bin/
obj/

*.nupkg

.vscode/
.vs
/docs-source/build/
/docs-source/**/DROP/
/docs-source/**/TEMP/
/docs-source/**/packages/
/docs-source/**/bin/
/docs-source/**/obj/
/docs-source/api/*.yml
/docs-source/api/.manifest

/Core.Tests/TestResults
/results
/coverage.xml
/TestDatabase/TestDatabase.jfm
/TestDatabase/TestDatabase.dbmdl

nuget.config